body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("https://live.staticflickr.com/65535/51404514236_81bdcaf4a1_h.jpg") !important;
  background-size: cover !important;
  background-repeat: none !important;
  background-attachment: fixed !important;
  margin-top: -10px !important;
}

.bg {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.dark-mode {
  color: #f8f8ff;
}


.dark-mode .ui.segment, 
.dark-mode .ui.feed,
.dark-mode .ui.card, 
.dark-mode .ui.card:hover, 
.dark-mode .ui.cards>.card  {
  background-color: #1a1a1b;
  border-style: none;
}
.dark-mode .ui.cards>.card:hover {
  background-color: #4f50ae ;

}

/* for the post cards  */
.dark-mode .profilePicText, 
.dark-mode .event>.content .summary,
.dark-mode .event>.content .date,
.dark-mode .ui.feed>.event>.content .summary,
.dark-mode .ui.feed>.event>.content .extra.text,
.dark-mode .ui.cards>.card>.content>.header,
.dark-mode .ui.cards>.card>.content>.description,
.dark-mode .ui.toggle.checkbox,
.dark-mode .ui.card>.content>.description, 
.ui.cards>.card>.content>.description,
.dark-mode .ui.cards>.card>.extra
{
  color: #f8f8ff !important;
}

.dark-mode .label.ui.toggle.checkbox{
  color: #f8f8ff !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* side navigation menu */



.sideMenu {
  margin-top: 13px ;
  position: sticky;
  display: flex;
}


.postPic {
  width: 350px;
}

.tinyIcon {
  width: 60px !important;
  height: 60px !important;
}

.friendCards {
  max-width: 600px !important;
  /* background-color:  !important; */
  
}

.profileCover {
  max-height: 400px !important;
  padding: 0px;
  margin: 0px;
  
}
#coverphoto {
  padding: 0px !important;
    max-height: 245px; /* width of container */
     /* height of container */
    object-fit: cover !important;
    overflow: hidden !important;
    border-radius: 10px 50px;
    /* border-style: solid white 10px; */
}

.profilePic {
  position: relative;
  left: 20px;
  top: -90px;
  max-width: 125px !important;
  padding: 0px !important;
  margin: 0px !important;
  border: 3px solid rgb(196, 192, 192)!important;
  border-radius: 50%;
 
}

.profilePicText {
  position: relative;
  left: -100px;
  top: 40px;
  padding: 5px;
  width: 150px;
}

.displayprofile {
  position: relative;
  left: -100px;
  top: 40px;
  padding: 5px;
  width: 150px;
  margin-top: -2px;
  line-height: 3px;
}

.logoDiv {
  display: flex;
  justify-content: left;
  align-items: left;

}
.logo {
  justify-content: left;
  align-items: center;
  max-height: 90px;
  margin-left: -20px;

}

.logo:hover{
  filter: hue-rotate(100deg);
-webkit-filter: hue-rotate(80deg);
}

.welcome {
  justify-content: left;
  align-items: center;
}

.sortDropdown, .sortLabel, .searchBar, .sortOptions, .formBtn {
  color: rgb(196, 192, 192);
  font: 'Helvetica Neue';
}

.sortDropdown {
  border-color: rgb(226, 223, 223);
  border-radius: 5px;
}

/* Post Form */


/* PostCard Component */

#postPic {
  border-radius: 25px;
  /* margin: auto;
  display: block; */
  max-width: 400px;
  
 object-fit: cover !important;
 overflow: hidden !important;
}

#postContent{
  overflow-wrap: break-word; 
}

.postTextBox{
  inline-size: 400px; 
  overflow: hidden;
}

#sidemenu {
  border: none !important;
  border-color: transparent !important;
}

.menuItems {
  text-align: left !important;
}

.menuIcons {
  float: left !important;
  margin-right: 20px !important;
  margin-top: -10px !important;
}

.friendCardIcons {
  margin-right: 10px !important;
}

/* Settings */

.dark-mode .ui.form .field > label {
  color:white !important;
}

.dark-mode #toggleDarkModeLabel {
  color: white !important;
}
